<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Financiamento</title>
    <link rel="stylesheet" href="../VIEWS/Images/Css/financiamento.css" />
  </head>
  <body>
    <!-- IMPORTA O TOPO -->
    <header class="topo">
      <div class="topo-info">
        <span>📞 (61) 3352-2619</span>
        <span>📱 (61) 98400-0200</span>
      </div>
      <div class="topo-logo">
        <img src="./Images/multilogo.png" alt="Logo Multicarros" />
      </div>
      <nav>
        <a href="home.html">Home</a>
        <a href="financiamento.html">Financiamento</a>
        <a href="sobreEmpresa.html">Sobre a Empresa</a>
        <a href="">Contato</a>
      </nav>
    </header>

    <!-- FORMULÁRIO -->

    <!-- Exemplo de formulário completo -->
    <form>
      <fieldset>
        <legend>Dados do Cliente</legend>
        <label>Nome:</label>
        <input type="text" name="nome" required />

        <label>Nome do Pai:</label>
        <input type="text" name="nome_pai" />

        <label>Nome da Mãe:</label>
        <input type="text" name="nome_mae" />

        <label>Endereço:</label>
        <input type="text" name="endereco" />

        <label>Número:</label>
        <input type="text" name="numero" />

        <label>Bairro:</label>
        <input type="text" name="bairro" />

        <label>Cidade:</label>
        <input type="text" name="cidade" />

        <label>CEP:</label>
        <input type="text" name="cep" />

        <label>Complemento:</label>
        <input type="text" name="complemento" />

          <label>Estado:</label>
        <select name="estado" required>
          <option value="">Selecione</option>
          <option>AC</option>
          <option>AL</option>
          <option>AP</option>
          <option>AM</option>
          <option>BA</option>
          <option>CE</option>
          <option>DF</option>
          <option>ES</option>
          <option>GO</option>
          <option>MA</option>
          <option>MT</option>
          <option>MS</option>
          <option>MG</option>
          <option>PA</option>
          <option>PB</option>
          <option>PR</option>
          <option>PE</option>
          <option>PI</option>
          <option>RJ</option>
          <option>RN</option>
          <option>RS</option>
          <option>RO</option>
          <option>RR</option>
          <option>SC</option>
          <option>SP</option>
          <option>SE</option>
          <option>TO</option>
        </select>
        
        <label>Tempo de Residência:</label>
        <input type="text" name="tempo_residencia" />

        <label>Estado Civil:</label>
        <select name="estado_civil" required>
          <option value="">Selecione</option>
          <option>Solteiro(a)</option>
          <option>Casado(a)</option>
          <option>Divorciado(a)</option>
          <option>Viúvo(a)</option>
          <option>Separado(a)</option>
          <option>União Estável</option>
        </select>

        <label>Sexo:</label>
        <select name="sexo" required>
          <option value="">Selecione</option>
          <option>Feminino</option>
          <option>Masculino</option>
        </select>
      </fieldset>
        
      </fieldset>
      <br>
      <br>
      <fieldset>
        <legend>Dados do Veículo</legend>
        <input type="text" placeholder="Marca *" />
        <input type="text" placeholder="Modelo *" />
        <input type="text" placeholder="Ano *" />
        <input type="text" placeholder="Cor *" />
        <input type="text" placeholder="Valor do Veículo *" />
        <input type="text" placeholder="Valor de Entrada *" />
        <input type="text" placeholder="Quantidade de Parcelas" />
    
      </fieldset>

      <fieldset>
        <legend>Dados Profissionais</legend>
        <label>Local de Trabalho:</label>
        <input type="text" name="local_trabalho" />

        <label>Profissão:</label>
        <input type="text" name="profissao" />

        <label>CNPJ:</label>
        <input type="text" name="cnpj" />

        <label>Cargo/Função:</label>
        <input type="text" name="cargo_funcao" />

        <label>Renda:</label>
        <input type="text" name="renda" />

        <label>Tempo de Emprego:</label>
        <input type="text" name="tempo_emprego" />

        <label>Endereço:</label>
        <input type="text" name="endereco" />

        <label>Número:</label>
        <input type="text" name="numero" />

        <label>Bairro:</label>
        <input type="text" name="bairro" />

        <label>Cidade:</label>
        <input type="text" name="cidade" />

        <label>CEP:</label>
        <input type="text" name="cep" />

        <label>Complemento:</label>
        <input type="text" name="complemento" />
      </fieldset>

      <fieldset>
        <legend>Dados Bancários</legend>
        <label>Banco:</label>
        <input type="text" name="banco" />

        <label>Agência:</label>
        <input type="text" name="agencia" />

        <label>Conta:</label>
        <input type="text" name="conta" />

        <label>Tempo de Conta:</label>
        <input type="text" name="tempo_conta" />
      </fieldset>
      <br />
      <br />
      <button type="submit">Enviar</button>
    </form>

    <!-- WHATSAPP FIXO -->
    <a href="https://wa.me/5561984000200" class="whatsapp" target="_blank"
      >💬</a
    >
  </body>
</html>

<div class="documentos-requeridos">
  <div class="documento">
    <i class="fas fa-id-card fa-3x"></i>
    <p>DOCUMENTOS NECESSÁRIOS PARA ENVIO!</p>
    <br>
    <br>
    <p>(Carteira Nacional de Habilitação)</p>
  </div>
  <div class="documento">
    <h3>Comprovante de Residência</h3>
    <i class="fas fa-file-alt fa-3x"></i>
    <p>(Conta de Água, Luz, Telefone, Cartão de Crédito)</p>
  </div>
  <div class="documento">
    <h3>Comprovante de Renda</h3>
    <i class="fas fa-address-card fa-3x"></i>
    <p>(Contra-Cheque, Extrato Bancário últimos 90 dias, Imposto de Renda)</p>
  </div>
</div>

<!-- IMPORTA O RODAPÉ -->
<footer class="rodape">
     <div class="rodape-conteudo">
        <!-- Coluna 1 -->
        <div class="rodape-coluna">
          <img
            src="./Images/multilogo.png"
            alt="Logo Multicarros"
            class="rodape-logo"
          />
          <p>📍 QNE 7, Loja 19/20 , Taguatinga norte - Brasilia/DF</p>
          <p>📞 (61) 3352-2619 | 📱 (61) 98400-0200</p>
          <p>✉️ vendas@multicarros.com.br</p>
        </div>

        <div class="rodape-coluna">
          <h4>Horário de Atendimento</h4>
          <p>Segunda a Sexta: 8h - 18h</p>
          <p>Sábado: 8h - 13h</p>
          <p>Domingo: Fechado</p>
        </div>

        <!-- Coluna 2 -->
        <div class="rodape-coluna">
          <h4>Links Rápidos</h4>
          <a href="index.html">Home</a>
          <a href="financiamento.html">Financiamento</a>
          <a href="#">Sobre a Empresa</a>
          <a href="#">Contato</a>
        </div>

        <!-- Coluna 3 -->
        <div class="rodape-coluna">
          <h4>Siga-nos</h4>
          <a href="https://www.facebook.com/MCMULTICARROS/">🔗 Facebook</a>
          <a href="https://www.instagram.com/multicarrosveiculos/">🔗 Instagram</a>
          <a href="https://wa.me/55619840002200">💬 WhatsApp</a>
        </div>
      </div>

      <div class="rodape-bottom">
        <p>© 2025 Multicarros. Todos os direitos reservados.</p>
      </div>
    </footer>
  </body>
</html>
